{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feature by Function</title>
    </head>
    <body>
        {% block content %}
            <h2>Feature Model Master</h2>
            <table>
                <tr>
                    <th>Group</th>
                    <th>Function</th>
                    <th>Feature</th>
                    <th>Dependency</th>
                </tr>
                {% for dependency in object_list %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ function.name }}</td>
                    <td>{{ function.feature.name }}</td>
                    <td>{{ function.feature.dependency.name }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>
