{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feature by Function</title>
    </head>
    <body>
        {% block content %}
            <h2> {{ group_name }} : {{ function_name }}</h2>
            <table>
                <tr>
                    <th>Group</th>
                    <th>Function</th>
                    <th>Feature</th>
                </tr>
                {% for feature in object_list %}
                <tr>
                    <td>{{ feature.function.group.name }}</td>
                    <td>{{ feature.function.name }}</td>
                    <td>{{ feature.name }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>
