{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PCC Feature Model</title>
</head>
<body>
        <h4>Feature Model</h4>
        <ul>
            {% for group in group_list %}
            <li><a href='/fmm/fmm_main/{{ group.pk }}'>{{ group.name }}</a></li>
            {% endfor %}
        </ul>
        <h4>Group: {{group_name}}</h4>
        <table>
            <tr>
                <th>Function</th>
                <th>Feature</th>
            </tr>
            {% for function in function_list %}
            <tr>
                <td>{{ function.name }}</td>
                <td>{{ function.feature.name }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>