{% extends 'fmm/base.html' %}

{% block content %}
    <h4>Feature Model</h4>
    <ul>
        {% for group in group_list %}
        <li><a href='/fmm/fmm_main/{{ group.pk }}'>{{ group.name }}</a></li>
        {% endfor %}
    </ul>
    <h4>Group: {{group_name}}</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Function</th>
                <th>Feature</th>
            </tr>
        </thead>
        <tbody>
            {% for function in function_list %}
            <tr class="table-success">
                <td>{{ function.name }}</td>
                <td>{{ function.feature.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}