{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All Features Rick</title>
    </head>
    <body>
        {% block content %}
            <h2> All Features</h2>
            <table>
                <tr>
                    <th>Group</th>
                    <th>Function</th>
                    <th>Feature</th>
                    <th>Keyword</th>
                    <th>Dependencies</th>
                </tr>
                {% for feature in object_list %}
                <tr>
                    <td>{{ feature.group }} </td>
                    <td>{{ feature.function}} </td>
                    <td>{{ feature.feature_name }} </td>
                    <td>{{ feature.name }} </td>
                    <td> {% for dep in feature.dependency %}
                         {{ dep}}
                         {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endblock %}
    </body>
</html>